<!DOCTYPE html>
<html lang="">
	<%- include('partials/head') %>
	<body>
		<div class="uk-container">
			<header>
				<h1 class="uk-heading-divider">Manage Bikes</h1>
			</header>
			<div class="content">
				<% for(var i=0; i < data.length; i++) { %>
				 <p>
					 <%= data[i].id %> | <%= data[i].NickName %>
				 </p>
				<% } %>
			</div>
			<div>
				<form>
					<input class="uk-input uk-form-width-medium" type="text" placeholder="Nickname" id="NickName">
					<select class="uk-select uk-form-width-medium" id="year">
							<option>2021</option>
							<option>2020</option>
							<option>2019</option>
							<option>2018</option>
					</select>
					<select class="uk-select uk-form-width-medium" id="make">
						<option>BMW</option>
						<option>Harley-Davidson</option>
						<option>Honda</option>
						<option>Suzuki</option>
						<option>Triumph</option>
						<option>Yamaha</option>
				</select>
				<input class="uk-input uk-form-width-medium" type="text" placeholder="Model" id="Model">
				<button class="uk-button uk-button-default" id="add-bike">Add Bike</button>
				</form>
		</div>
			<footer>
				<p class="medium-text"><a href="/"><span class="fas fa-home"></span> Go Home</a></p>
			</footer>
		</div>
		
		<script>
			$("#add-bike").on("click", function (event) {
				event.preventDefault();
			
				var newBike = {
					NickName: $("#NickName").val().trim(),
					Year: $("#Year").val().trim(),
					Make: $("#Make").val().trim(),
					Model: $("#Model").val().trim(),
				};
			
				$.post("/api/bikes", newBike).then(function (data) {
					alert("Your bike has been added to the list.");
				});
			});
		</script>
	</body>
</html>