<!DOCTYPE html>
<html lang="">
	<head>
		<title>IBA DB - Home Page</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/css/uikit.min.css" />
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="https://kit.fontawesome.com/ade5c7beee.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.gstatic.com"> 
		<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Oxanium&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="uk-container">
			<header>
				<h1 class="uk-heading-divider">Main Menu</h1>
			</header>
			<div class=" uk-column-1-2">
				<p><a href="/ridelist"><span class="fas fa-road fa-fw fa-lg"></span> View Ride List</a></p>
				<p><a href="/riders"><span class="fas fa-users fa-fw fa-lg"></span> View Riders</a></p>
				<p><a href="/bikes"><span class="fas fa-motorcycle fa-fw fa-lg"></span> View Bikes</a></p>
				<p><a href="/resume"><span class="fas fa-medal fa-fw fa-lg"></span> View My Resume</a></p>
				<p><a href="/riders"><span class="fas fa-users fa-fw fa-lg"></span> Add New Rider</a></p>
				<p><a href="/bikes"><span class="fas fa-motorcycle fa-fw fa-lg"></span> Add New Bike</a></p>
			</div>
			<footer>
				Site conceived and created by <a href="https://www.tommyc.net" target="_blank">Tommy Craft</a>.
			</footer>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.16/dist/js/uikit-icons.min.js"></script>
	</body>
</html>